<!DOCTYPE html>
<html>
  <head>
    <title>Ocean Adventure! Homepage</title>
    <meta name="description" content="Ocean Adventure Sample">
    <link rel="stylesheet" href="/index.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here" rel="stylesheet">
  </head>
  <body>
    <section class="header"> 
      
    </section>

    <main class="main">
    <img usemap="#ocean" src="https://cdn.gomix.com/a831026a-1dde-4ded-8066-8e798db9e47c%2Focean.png" />
    <map name="ocean">
      <area shape="circle" coords="570,795,30" href="captain-jack.html" alt="Captain Jack" title="Captain Jack">
    </map>
    </main>

    <section class="footer">
      
    </section>

    <script src="/client.js"></script>

  </body>
</html>
